body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;

  background-color: black;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: cadetblue;
  height: 75px;
}

nav div {
  font-size: 20px;
  margin: 20px;
  color: white;
}

section {
  display: flex;
}

img {
  width: 96vw;
  height: auto;
}
