body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: black;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: cadetblue;
  height: 100px;
}

nav div {
  font-size: 30px;
  margin: 30px;
  color: black;
}

section {
  display: flex;
}

img {
  display: flex;
  width: 95vw;
  height: auto;
  margin: 30px;
}

main {
  display: grid;
  width: 95vw;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  margin: 30px;
}

button {
  height: 200px;
  margin-bottom: 20px;

  background-color: black;
  color: cadetblue;
  border-width: 5px;
  border-color: cadetblue;
  font-size: 30px;
}
